/* Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* General */

main {
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

h1 {
    margin: 0;
    color: #A72A56;
    padding: 50px;
}

.column {
    width: calc(100% / 3);
    display: inline-block;
    background-color: #0F0E17;
    width: 400px;
    margin:  10px;
}

img {
    float: left;
    width: 30%;
    vertical-align: middle;
}

h2 {
    display: inline;
    color: #FDFDF9;
    font-size: 20px;
    line-height: calc(120px / 3);
}

h3 {
    display: inline;
    color: #FDFDF9;
    font-size: 15px;
    line-height: calc(120px / 3);
}

a {
    display: inline;
    font-size: 15px;
    color: #359DBA;
    text-decoration: none;
    line-height: calc(120px / 3);
}






