/* Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

body {
    font-family: 'Fredoka', sans-serif;
}